# Web Framework
django
djangorestframework
django-cors-headers
channels[daphne]      # For WebSockets 

# Data Science & ML
torch
torchvision
torchaudio
numpy
pandas
scikit-learn
scipy
joblib
ninja

# NLP & RAG
transformers
sentence-transformers
ollama
faiss-cpu

# Database & Services
redis
elasticsearch
python-dotenv
requests
pytz
pyyaml

# Utilities
pydantic            
pydantic-settings